<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Group 11's Portfolio{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/website-icon.png') }}">
</head>
<body>
  <video autoplay loop muted playsinline id="bg-video">
    <source src="{{ url_for('static', filename='images/background.mp4') }}" type="video/mp4">
  </video>

  <header>
    <nav>
      <h1 class="logo">GROUP<span>11</span></h1>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('works') }}">Projects</a></li>
        <li><a href="{{ url_for('members_contact') }}">Members</a></li>
      </ul>
    </nav>
    
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>


</body>
</html>
