{% extends "_base.html" %}
{% block title %}Home - SEVEN11{% endblock %}

{% block content %}
<section id="home" class="section home">
  <div class="content">
    <p style="font-size: 78px; font-weight: bold;">{{ index.message }}</p>
    <img src = "https://readme-typing-svg.demolab.com?font=JetBrains+Mono&weight=700&duration=3000&pause=1500&color=ffffff&size=28&center=true&vCenter=true&random=false&multiline=true&width=1500&height=100&lines={{ index.message_1 }};{{ index.message_2 }}"/>
  </div>
</section>

{% endblock %}
