{% extends "_base.html" %}

{% block title %}Works{% endblock %}

{% block content %}

<section id="works-page">
    <h1>Our Programming Projects</h1>

    <div class="work-buttons">
        <a href="/works/queue-visualizer"><button class="work-btn">Queue Visualizer</button></a>
        <a href="/works/dequeue-visualizer"><button class="work-btn">Dequeue Visualizer</button></a>
        <a href="/works"><button class="work-btn">Project 3</button></a>
        <a href="/works"><button class="work-btn">Project 4</button></a>
        <a href="/works"><button class="work-btn">Project 5</button></a>
    </div>
</section>
{% endblock %}
